/*  */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Poppins', 'Noto Sans Bengali', sans-serif;
}

:root {
    --color-primary: #006838;
    --color-secondary: #39B54A;
    --color-text: #222020;
    --color-title: #010c09;
    --color-white: #ffffff;
    --background-light: #10ac840d;
    --background-dark: #1D2026;
}

html,
body {
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
thead,
tbody,
tfoot,
td,
th,
tr {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: var(--color-text);
    font-family: 'Poppins', 'Noto Sans Bengali', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--color-title);
}

h2 {
    font-size: 50px;
    line-height: 65px;
}

h3 {
    font-size: 18px;
    line-height: 32px;
}

.sec-title h3 {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: linear .3s;
}

a:hover,
a:hover * {
    color: var(--color-primary);
    transition: linear .3s;
}

a:focus {
    color: var(--color-primary) !important;
}

img {
    max-width: 100%;
}

.btn-theme {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 15px 22px;
    transition: linear .3s;
    border: none;
    border-radius: 5px;
    display: inline-block;
}

.btn-theme:hover {
    color: var(--color-white);
    background-color: var(--color-secondary);
}

.btn-theme:focus {
    box-shadow: 0px 0px 0px 3px var(--background-light);
    color: var(--color-white) !important;
}

.btn-theme-outer {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 14px 21px;
}

.btn-theme-outer:hover {
    border-color: var(--color-secondary);
}

.btn-theme-outer:focus {
    color: var(--color-primary) !important;
    background-color: var(--color-white);
}

.bg-light {
    background-color: var(--background-light);
}

/* ***************************************************** */
/* 1. Home Page */
/* ***************************************************** */
/* header */
header {
    background-color: var(--color-white);
    box-shadow: 0 0 15px #0000000d;
}

header nav.navbar {
    padding: 0;
}

header .navbar-toggler {
    border: 1px solid var(--color-primary);
    padding: 7px 13px;
}

header .navbar-toggler i {
    color: var(--color-primary);
}

.navbar-toggler:focus {
    box-shadow: none;
}

header .navbar-nav {
    margin-right: 30px;
}

header .navbar-nav li {
    margin-right: 30px;
}

header .navbar-nav li a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: var(--color-text);
    position: relative;
    font-weight: 500;
    padding: 22px 0;
}

header .navbar-nav li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    transition: linear .2s;
    background: linear-gradient(180deg, #fff0 0%, #fff0 100%);
}

header .navbar-nav li a:hover,
header .navbar-nav li a.active {
    color: var(--color-primary);
    background: linear-gradient(180deg, #fff0 0%, #10ac840d 100%);
    transition: linear .2s;
}

header .navbar-nav li a:hover::before,
header .navbar-nav li a.active::before {
    background-color: var(--color-primary);
    transition: linear .2s;
}

header .navbar-brand img {
    width: 220px;
}

header .navbar-nav li.dropdown .dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 6px;
}

header .navbar-nav li.dropdown .dropdown-menu li {
    margin-right: 0;
}

header .navbar-nav li.dropdown .dropdown-menu .dropdown-item {
    padding: 10px 15px !important;
}

header .navbar-nav li.dropdown .dropdown-menu .dropdown-item:hover {
    background: #10ac840d;
}

header .navbar-nav li.dropdown .dropdown-menu .dropdown-item::before {
    content: none;
}

.search-box form {
    width: 255px;
    position: relative;
}

.search-box form input {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    width: 100%;
}

.search-box form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    border-radius: 6px 0px 0px 6px;
}

/* hero section */
.hero-sec {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 400px;
    padding-bottom: 100px;
    position: relative;
}

.hero-sec::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #ffffff 0%, #00000000 100%);
}

.hero-content {
    max-width: 850px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--color-primary);
    text-shadow: 0px 0px 10px var(--color-white);
    text-transform: capitalize;
}

.hero-content p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 50px;
    color: var(--color-text);
}

.hero-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.hero-content ul li {
    display: inline-block;
    margin-right: 20px;
}

.hero-content ul li:last-child {
    margin-right: 0;
}


/* services section */
.services-sec {
    padding: 100px 0;
    padding-bottom: 70px;
    background-image: url(../images/services-bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.service-card {
    position: relative;
    background: #ffffff80;
    box-shadow: 0 0 0 1px #10ac841a;
    transition: linear .2s;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 1;
    top: 0;
}

.service-card:hover {
    background: #FFFFFF;
    box-shadow: 10px 15px 50px #00000014;
    transition: linear .2s;
    top: -10px;
}

.service-card-body {
    padding: 30px;
}

.service-card img {
    width: 100%;
}

.service-card h3 {
    font-size: 22px;
    line-height: 32px;

    margin-bottom: 10px;
}

.service-card p {
    margin-bottom: 15px;
}

.service-card a {
    color: var(--color-text);
    font-weight: 500;
}

.service-card:hover a {
    color: var(--color-primary);
}

.service-card a i {
    margin-left: 5px;
    transition: linear .3s;
}

.service-card:hover a i {
    margin-left: 8px;
    transition: linear .3s;
}

/* about section */
.about-sec {
    padding: 100px 0;
}

.about-img img {
    width: 100%;
}

.about-content {
    margin-left: 50px;
}

.about-content p {
    margin-bottom: 10px;
}

.about-content p:last-of-type {
    margin-bottom: 48px;
}

/* CTA section */
.cta-sec {
    position: relative;
    padding: 100px 0;
    background-image: url(../images/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.cta-sec::before {
    content: "";
    position: absolute;
    background-color: #000000b8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cta-content {
    position: relative;
    z-index: 1;
}

.cta-content .sec-title h2 {
    color: var(--color-white);
}

.cta-content p {
    color: var(--color-white);
}

.cta-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cta-content ul li {
    display: inline-block;
    margin-right: 20px;
}

.cta-content ul li:last-child {
    margin-right: 0;
}

/* clients section */
.clients-sec {
    padding: 100px 0;
}

.clients-img img {
    width: 100%;
}

/* clients feedback section */
.clients-feedback-sec {
    padding: 100px 0;
}

.clients-feedback-img-group ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.clients-feedback-img-group ul li {
    flex: 0 0 auto;
    width: 25%;
}

.clients-feedback-slider {
    margin-left: 50px;
    margin-bottom: 50px;
}

/* .clients-feedback-slider .carousel-indicators {
    margin: 0;
    position: absolute;
    width: auto;
    bottom: -50px;
    right: auto;
}

.clients-feedback-slider .carousel-indicators button {
    background-color: var(--color-primary);
    height: 5px;
    border-radius: 10px;
    padding: 0;
    border: 0;
    opacity: .2;
    width: 25px;
}

.clients-feedback-slider .carousel-indicators button.active {
    background-color: var(--color-primary);
    opacity: .8;
} */

.clients-feedback-slider .carousel-item p {
    margin-bottom: 10px;
}

.clients-feedback-slider button {
    top: auto;
    height: 40px;
    width: 40px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    opacity: 1;
    bottom: -60px;
    transition: linear .2s;
}

.clients-feedback-slider button span {
    width: 70%;
    height: 70%;
    background-size: 75%;
}

.clients-feedback-slider button:hover {
    background-color: var(--color-primary);
    transition: linear .2s;
}

.clients-feedback-slider .carousel-control-next {
    right: auto;
    left: 60px;
}


/* Blog & News section */
.blog-sec {
    padding: 100px 0;
}

.blog-sec .pagination li a {
    border-color: var(--color-white);
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    padding: 15px 22px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.blog-sec .pagination li a i {
    color: var(--color-white);
}

.blog-sec .pagination li a:hover {
    background-color: var(--color-secondary);
}

.card-blog {
    margin-bottom: 30px;
}

.card-blog img {
    margin-bottom: 20px;
    transition: linear .2s;
    box-shadow: none;
}

.card-blog h3 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card-blog:hover img {
    transition: linear .2s;
    box-shadow: 10px 15px 50px #00000014;
}

/* footer */
.footer-sec {
    position: relative;
    padding: 150px 0 50px;
    color: #fff;
    background: #1B1E1A;
}


.footer-widget h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

.footer-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.footer-widget ul li a {
    font-size: 14px;
    display: block;
    padding: 8px 0;
    color: var(--color-white);
    opacity: .5;
    font-weight: 400;
    line-height: 20px;
}

.footer-widget ul li a:hover {
    color: #fffffff2;
    opacity: 1;
}

.footer-bottom {
    border-bottom: 1px solid #ffffff40;
    padding: 70px 0 50px;
    margin-bottom: 15px;
    text-align: center;
}


.footer-contact {
    margin: 0 5px;
    font-weight: 500;
    text-align: left;
    color: var(--color-white);
}


.footer-contact a {
    color: #FFC641;
}

.footer-contact a:hover {
    color: var(--color-white);
}

.footer-social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social li {
    display: inline-block;
    margin-left: 15px;
}

.footer-social li:first-child {
    margin-left: 0;
}

.footer-social li a {
    background-color: #111311;
    color: var(--color-white);
    opacity: .8;
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social li a:hover,
.footer-social li a:hover * {
    color: var(--color-white);
    background-color: #0d0e0d;
    opacity: 1;
}

.copyright p {
    font-size: 14px;
    color: var(--color-white);
    opacity: .5;
    margin: 0;
    font-weight: 400;
}

.copyright p a {
    color: var(--color-white);
    opacity: .5;
}

.copyright p a:hover {
    opacity: 1;
}

.footer-logo {
    max-width: 180px;
}

.footer-logo img {
    width: 100%;
}

/* ***************************************************** */
/* 2. About Page */
/* ***************************************************** */
/* title section */
.title-sec {
    position: relative;
    padding: 100px 0;
    background-image: url(../images/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.title-sec::before {
    content: "";
    position: absolute;
    background-color: #000000b8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title-content {
    position: relative;
    z-index: 1;
}

.title-content * {
    color: var(--color-white);
}

.title-sec h1 {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 15px;
}

.title-sec .breadcrumb {
    margin: 0;
    text-align: center;
    justify-content: center;
}

/* title section end */

/* Owner Content */
.about-content.owner {
    margin-left: 0;
    margin-right: 50px;
}

/* Owner Content end */
/* Team Member section */
.team-sec {
    padding: 100px 0;
}

.team-card {
    margin-bottom: 30px;
}

.team-card img {
    margin-bottom: 30px;
}

.team-card h3 {
    font-size: 22px;
    line-height: 30px;
}

.team-card h4 {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-text);
    opacity: .5;
    margin-bottom: 10px;
}

.team-card ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-card ul li {
    display: inline-block;
    margin-right: 10px;
}

.team-card ul li a {
    opacity: .5;
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
    background-color: var(--color-text);
    height: 26px;
    width: 26px;
    display: block;
    border-radius: 3px;
    position: relative;
}

.team-card ul li a:hover {
    opacity: 1;
    background-color: var(--color-primary);
}

.team-card ul li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
}

.team-bio {
    margin-top: 10px;
}

.team-bio button {
    border: none;
    background-color: #F8F9FA;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 15px;
    border-radius: 3px;
    justify-content: space-between;
    font-weight: 500;
    opacity: 0.8;
}

.team-bio article {
    padding-top: 15px;
}

/* Team Member section end */
/* ***************************************************** */
/* 3. Contact Page */
/* ***************************************************** */
.contact-sec {
    padding: 100px 0;
}

.contact-form form input {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
}

.contact-form form select {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
}

.contact-form form textarea {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
}

.contact-form form button {
    width: 100%;
}

.contact-box {
    margin-bottom: 30px;
    display: table;
    width: 100%;
}

.contact-box .icon {
    width: 52px;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding-right: 30px;
}

.contact-box .icon i {
    font-size: 22px;
    color: var(--color-primary);
}

.contact-box .text .title {
    font-size: 20px;
    color: var(--color-title);
    line-height: 22px;
    margin-bottom: 10px;
}

.contact-box .text .info p {
    line-height: 22px;
}

.contact-box .text .info p a {
    color: var(--color-text);
}

.map-sec iframe {
    width: 100%;
    height: 400px;
    margin-bottom: -10px;
}

.blog-details-area {
    padding-bottom: 100px;
    padding-top: 65px;
}

.blog-details img {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 30px;
}

.blog-details h1 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 30px;
}

.blog-details p {
    margin-bottom: 15px;
}

.blog-details p:last-of-type {
    margin-bottom: 0;
}

.single-page-text-area {
    padding: 100px 0;
}